@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Source+Sans+Pro:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

#header {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0 .8rem 0;
  z-index: 1;
}

.header__row {
  width: 100%;
  min-height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__row-div {
  width: 24%;
}

.header__row-navbar {
  width: 51%;
}

.header__row-icons {
  width: 25%;
}

.header__row-common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__row-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: .2rem;
}

.header__row-div-divlogo {
  width: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__row-div-divlogo--img {
  max-width: 100%;
}

.header__row-navbar {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 1rem;
}

.header__row-navbar--nav {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: .6rem;
}

.header__row-navbar--nav-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style-type: none;
}

.header__row-navbar--nav-div-anchor {
  display: block;
  font-size: 1.7rem;
  color: #111111;
  text-decoration: none;
  margin: 2rem 0 0;
  font-weight: lighter;
}

.header__row-navbar--nav-div-anchor:not(:last-child) {
  margin-right: 1.5rem;
}

.header__row-navbar--nav-div .active {
  font-weight: bolder;
}

.header__row-navbar--nav-div-anchor-dropdown {
  position: relative;
  display: inline-block;
}

.header__row-navbar--nav-div-anchor-dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__row-navbar--nav-div-anchor-dropdown-content {
  display: none;
  position: absolute;
  font-size: 1.5rem;
  background-color: #f9f9f9;
  min-width: 6rem;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.header__row-navbar--nav-div-anchor-dropdown-content-anchor {
  width: 100%;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.header__row-navbar--nav-div-anchor-dropdown-content-anchor-paragraph {
  padding: 1.5rem 5rem 2.5rem 1.5rem;
}

.header__row-navbar--nav-div-anchor-dropdown-content > a p:hover {
  background-color: #e0dede;
  padding: 1.5rem 5rem 2.5rem 1.5rem;
}

.header__row-navbar--nav-div-anchor-dropdown:hover .header__row-navbar--nav-div-anchor-dropdown-content {
  display: block;
}

.header__row-icons {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .3rem;
}

.header__row-icons-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__row-icons-row--div {
  width: 5.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .8rem;
  margin-top: 1.6rem;
}

.header__row-icons-row--div--div:not(first-child) {
  margin-left: 0;
}

.header__row-icons-row--div--div:not(last-child) {
  margin-right: 0;
}

.header__row-icons-row--div-anchor {
  max-width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__row-icons-row--div-anchor--img {
  max-width: 100%;
}

#frontPage {
  width: 100%;
  min-height: 100vh;
  background: url("https://le-de.cdn-website.com/17b2a37b2d0b4ccd81c1e97900ae3e66/dms3rep/multi/opt/hero_image_plate-1920x800-2880w.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-blend-mode: difference;
  background-color: #000;
  mix-blend-mode: darken;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12rem;
  z-index: 0;
}

.middleBox {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-top: 25rem;
}

.middleBox__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middleBox__heading-p {
  line-height: 1;
  font-size: 2.1rem;
}

.middleBox__heading hr {
  width: 8rem;
  min-height: 4px;
  background-color: #d7d6d6;
  margin-top: 3rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
}

.middleBox__heading--p {
  font-size: 8.5rem;
  font-family: cardo;
  margin-top: 4rem;
}

.middleBox__heading-button {
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  background-color: transparent;
  padding: 1.5rem 6rem;
  margin-top: 4rem;
  border: 3px solid #fff;
  cursor: pointer;
}

.middleBox__heading-button:hover {
  color: #000;
  background-color: #fff;
}

#header + #frontPage {
  padding-top: 6rem;
}

#ourStory {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem;
}

.ourStoryRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}

.ourStoryRow__story {
  width: 40%;
  display: block;
  margin-right: 2rem;
}

.ourStoryRow__story-heading {
  font-size: 4.5rem;
  font-family: cardo;
  line-height: 2;
}

.ourStoryRow__story-paragraph {
  font-size: 1.8rem;
  color: #212020;
  line-height: 1.6;
}

.ourStoryRow__story-button {
  display: inline-block;
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3a3939;
  background-color: transparent;
  padding: 1.3rem 4.5rem;
  margin-top: 4rem;
  border: 3px solid #000;
  cursor: pointer;
}

.ourStoryRow__story-button:hover {
  color: #fff;
  background-color: #000;
}

.ourStoryRow__storyPhoto {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
}

.ourStoryRow__storyPhoto-div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourStoryRow__storyPhoto-div-img {
  max-width: 100%;
  border-radius: 39rem;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f5f5;
  padding: 6rem;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.menu__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__row__heading {
  width: 100%;
  text-align: center;
}

.menu__row__heading-menu {
  font-size: 4.5rem;
  font-family: cardo;
}

.menu__row__heading hr {
  width: 8rem;
  display: inline-block;
  min-height: 4px;
  background-color: #d7d6d6;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: none;
  border-right: none;
}

.menu__row__items {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  z-index: 0;
}

.menu__row__items-item--1 {
  width: 24%;
  position: relative;
  margin: 0 .5% 0 1%;
}

.menu__row__items-item--1-img {
  max-width: 100%;
  min-height: 100vh;
  background-size: contain;
  background-image: url("https://de.cdn-website.com/17b2a37b2d0b4ccd81c1e97900ae3e66/dms3rep/multi/desktop/breakfast_image-600x732.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100%;
  background-repeat: no-repeat;
}

.menu__row__items-item--1:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu__row__items-item--1:hover::after {
  content: 'Breakast';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  text-align: center;
  font-size: 4rem;
  width: 100%;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: cardo;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: contain;
}

.menu__row__items-item--2 {
  width: 24%;
  margin: 0 .5% 0 .5%;
}

.menu__row__items-item--2-img {
  max-width: 100%;
  background-image: url("https://de.cdn-website.com/17b2a37b2d0b4ccd81c1e97900ae3e66/dms3rep/multi/desktop/soup_image-600x750.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100%;
  background-repeat: no-repeat;
}

.menu__row__items-item--2:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu__row__items-item--2:hover::after {
  content: 'Lunch';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  text-align: center;
  font-size: 4rem;
  width: 100%;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: cardo;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: contain;
}

.menu__row__items-item--3 {
  width: 24%;
  margin: 0 .5% 0 .5%;
}

.menu__row__items-item--3-img {
  max-width: 100%;
  background-image: url("https://le-de.cdn-website.com/17b2a37b2d0b4ccd81c1e97900ae3e66/dms3rep/multi/opt/dinner_image-600x900-2880w.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100%;
  background-repeat: no-repeat;
}

.menu__row__items-item--3:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu__row__items-item--3:hover::after {
  content: 'Dinner';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  text-align: center;
  font-size: 4rem;
  width: 100%;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: cardo;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: contain;
}

.menu__row__items-item--4 {
  width: 24%;
  margin: 0 1% 0 .5%;
}

.menu__row__items-item--4-img {
  max-width: 100%;
  background-image: url("https://le-de.cdn-website.com/17b2a37b2d0b4ccd81c1e97900ae3e66/dms3rep/multi/opt/drinks-600x900-2880w.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100%;
  background-repeat: no-repeat;
}

.menu__row__items-item--4:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu__row__items-item--4:hover::after {
  content: 'Drinks';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  text-align: center;
  font-size: 4rem;
  width: 100%;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: cardo;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: contain;
}

.menu__row__items-item {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.contact {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__row {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__row-container {
  width: 33.33%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__row-container-anchor {
  width: 100%;
  height: 45rem;
}

.contact__row-container-anchor-gif {
  max-width: 100%;
  height: 45rem;
  position: relative;
  background-image: url("https://le-de.cdn-website.com/17b2a37b2d0b4ccd81c1e97900ae3e66/dms3rep/multi/opt/image_san-1000x666-2880w.jpg");
  background-size: cover;
  background-position: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: #000;
  z-index: 0;
}

.contact__row-container-info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10rem 0;
}

.contact__row-container-info-heading {
  font-size: 4.5rem;
  font-family: cardo;
  line-height: 2;
}

.contact__row-container-info-table {
  width: 80%;
  min-height: 100%;
}

.contact__row-container-info-table-relation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__row-container-info-table-relation-data {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.98;
}

.contact__row-container-iframe {
  width: 100%;
  height: 45rem;
  border: none;
}

.information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9.5rem 1.2rem;
  background-color: #212226;
}

.information__row {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
}

.information__row-logo {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 0;
}

.information__row-logo--img {
  max-width: 66%;
}

.information__row-address {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Source Sans Pro';
  padding: 3rem 0;
  padding-left: 4.5rem;
}

.information__row-address-paragraph {
  line-height: 1.4;
  font-weight: 600;
}

.information__row-contact {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2rem 0;
  padding-left: 7rem;
}

.information__row-contact-heading {
  font-weight: bolder;
  line-height: 2.4;
}

.information__row-contact-paragraph {
  line-height: 1.4;
  font-weight: 300;
}

.information__row-find {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information__row-find--logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

.information__row-find--logos-div {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

.information__row-find--logos-div-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information__row-find--logos-div-logo-img {
  max-width: 100%;
}

.information__row-find--logos-button {
  width: 64%;
  font-size: 2.1rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  background-color: transparent;
  padding: 1rem 3.7rem .6rem;
  border: 3px solid #fff;
  cursor: pointer;
}

.information__row-find--logos-button:hover {
  color: #000;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */
